.one{
    color: red;
    width:200px


}
.two{
    color:blue;
    width:200px;
}
.three{
    color:peru;
    width:200px

}
.four{
    color:green;
    width:200px
}
.j{
    color:yellowgreen;
    text-align: center;
    font-size:100px;

}